.header {
  background-color: var(--glass);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  margin-right: 15px;
}

.right-section {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.search-bar {
  flex-grow: 1;
  height: 50px;
  padding-right: 10px;
  padding-left: 60px;
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
}

.search-button {
  position: absolute;
  left: 0;
  min-width: 50px;
  height: 100%;
}

.switch-button {
  min-width: 50px;
  height: 50px;
  font-size: 1rem;
}
